h1 {
    text-align: center;
}

h1, h2 {
    color: #007069;
    text-decoration: underline;
}

body {
    background-size: cover;
    background-image: url("../img/cool-background.png");
    font-family: "Andale Mono";
}

ol, ul {
    list-style: square;
}

table {
    margin: 0 auto;
}

tr {
    padding: 10 px;
}

td {
    padding: 5px;
}

a:link {
    color: blue;
}
a:visited {
    color: #8a4182;
}

a:hover {
    color: #007069;
}

a:active {
    color: greenyellow;
}